<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- 🔥 Define Solution Name -->
    <variable name="solutionName" value="RecWork"/>

    <variable name="telegramBotToken" value="8062918106:AAFsgQH0cNiCRw7nS5vwhDmhWx2fR0BGVM4"/>
    <variable name="telegramChatId" value="-1002646705886"/>

    <targets async="true">
        <target name="console" xsi:type="ColoredConsole"
                layout="${longdate} [${level:uppercase=true}] [${aspnet-TraceIdentifier}] ${message} ${exception:format=toString}"/>
        <target name="file" xsi:type="File"
                layout="${longdate} ${level} ${logger} ${message}${exception:format=ToString}"
                fileName="${basedir}/logs/AppLog.${shortdate}.log"
                maxArchiveFiles="3000"
                archiveAboveSize="20971520"/>
        <target xsi:type="WebService"
                name="telegram"
                url="https://api.telegram.org/bot${telegramBotToken}/sendMessage"
                encoding="utf-8" protocol="JsonPost">
            <parameter name="">
                <layout xsi:type="JsonLayout" includeAllProperties="true">
                    <attribute name="chat_id" layout="${telegramChatId}"/>
                    <attribute name="parse_mode" layout="HTML"/>
                    <attribute name="text"
                               layout="[${solutionName}] ${longdate} | #${level} | &lt;i&gt;${logger}&lt;/i&gt; | &lt;pre&gt;&lt;code&gt;${message} ${exception:format=@}&lt;/code&gt;&lt;/pre&gt;"/>
                </layout>
            </parameter>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console"/>
        <logger name="*" minlevel="Info" writeTo="file"/>
        <logger name="*" minlevel="Critical" writeTo="telegram"/>
    </rules>
</nlog>
